body.dark {
  --COLOR_BACK: #2c3e50;
  --COLOR_TEXT: #ecf0f1;
  --COLOR_RED: #ff7a00;
  --COLOR_BLUE: #02a5ff;
  --COLOR_GREEN: #66cc33;
}

body.light{
  --COLOR_BACK: #ecf0f1;
  --COLOR_TEXT: #2c3e50;
  --COLOR_RED: #ff7a00;
  --COLOR_BLUE: #02a5ff;
  --COLOR_GREEN: #66cc33;
}

.bg-norm{
  background-color: var(--COLOR_BACK);
}

.bg-rev{
  background-color: var(--COLOR_TEXT);
}

.text-norm{
  color: var(--COLOR_BACK);
}

.text-rev{
  color: var(--COLOR_TEXT);
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--COLOR_BACK);
  color: var(--COLOR_TEXT);

  max-height: 100vh;
  max-width: 100vw;

  font-family: 'Roboto', sans-serif;

  padding: 0;
  margin: 0;

  white-space: nowrap;
}

a{
  color: var(--COLOR_TEXT);
  text-decoration: none;
}

/* Fetching page */
.fetching{
  height: 100%;
  width: 100%;
  opacity: 0.7;
}

/* width */
::-webkit-scrollbar {
  width: 0;
}

/* Login page */
.loginPage{
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginPage>div{
  text-align: center;
}

.loginPage input { 
  display: block;
  width: 200px;
	margin-bottom: 10px; 
	background: var(--COLOR_TEXT);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: var(--COLOR_BACK);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
}

.loginPage h1 {
  margin-bottom: 20px;
}

.loginPage input:focus { 
  box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); 
}

.loginPage button{
  display: block;
  width: 100%;
  padding: 15px;
  margin: 20px 0 0 0;
  background-color: var(--COLOR_TEXT);
  color: var(--COLOR_BACK);
  border: none;
}

.loginPage .toggleLogin{
  cursor: pointer;
}

/* Sidebar */
.sidebar{
  z-index: 100000;
  background-color: var(--COLOR_TEXT);
  color: var(--COLOR_BACK);
  transition: width 0.5s ease-in-out;
  width: 300px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

.sidebar>*{
  overflow: hidden;
}

.sidebarOpenClose{
  border-radius: 0.5rem;
  border: 2px solid var(--COLOR_BACK);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: left 0.5s ease-in-out;
  left: calc(100% + 10px);
  top: 10px;
  cursor: pointer;
}

#App.navClose .sidebar{
  width: 0;
}

#App.navClose .sidebarOpenClose{
  color: var(--COLOR_TEXT);
  border: 2px solid var(--COLOR_TEXT);
  left: calc(100% + 10px);
}

.sidebar h1{
  padding: 45px 10px 45px 10px;
  background-color: rgba(0, 0, 0, .2);
}

#App.navClose .sidebar h1{
  transition: padding 0.5s ease-in-out;
  padding: 45px 0 45px 0;
}

.sidebarItems{
  display: flex;
  flex-direction: column;
}

.sidebarItems>*{
  color: var(--COLOR_BACK);
  opacity: 0.6;
  border-bottom: 1px solid var(--COLOR_BACK);
}

.sidebarItems>*>i{
  padding: 20px 20px 20px 10px;
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.sidebarItems>.active{
  opacity: 1;
}

.content::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 800;
}

#App.navClose .content::before{
  top: 100%;
}

@media screen and (min-width: 1200px){
  .content::before{
    top: 100%;
  }
  .content{
    margin-left: 330px !important;
  }
  .sidebarOpenClose{
    display: none;
  }
  .sidebar{
    width: 300px !important;
  }
  #App.navClose .sidebar h1{
    padding: 45px 10px 45px 10px !important;
  }
}


#root, body, #App, html{
  height: 100vh !important;
  overflow: hidden;
}

.content{
  margin: 10px;
  transition: margin-left 0.5s ease-in-out;
  margin-left: 10px;
  margin-top: 45px;
  max-height: calc(100vh - 20px);
  overflow-y: scroll;
}

.listItems{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.listItem{
  background-color: var(--COLOR_TEXT);
  color: var(--COLOR_BACK);

  padding: 10px;
  flex-grow: 1;
  overflow-x: scroll;
  min-width: 290px;
}

.listItemTitle{
  font-size: 20px;
  font-weight: bold;
}

.listItemSub{
  opacity: 0.6;
}

.subLists{
  display: flex;
  flex-wrap: wrap;
  gap: 10px
}

.subList{
  flex: 1;
  width: 100%;
  margin: 10px 0 0 0;
  border: 1px solid var(--COLOR_TEXT);
  position: relative;
}

.subListItems{
  margin: 20px 10px 10px 10px;
}

.subListLabel {
  position: absolute;
  left: 5px;
  padding: 0 5px;
  top: 0;
  transform: translateY(-50%);
  background-color: var(--COLOR_BACK);
}

ul.bulletList {
  margin: 0;
  padding-left: 1.2rem;
}

/* Tables */
table {
  table-layout: fixed;
  border-collapse: collapse;
  overflow-x: scroll;
  width: 100%;
}

table tr{
  border: 1px solid black;
  padding: 10px;
}

.thead {
  background-color: var(--COLOR_TEXT);
  color: var(--COLOR_BACK);
}

table th{
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

table td {
  padding: 10px;
  text-align: center;
  min-width: 20%;
  overflow: hidden;
}

.manageButtons{
  display: inline-block;
  border-radius: 0.5rem;
  overflow: hidden;
}

.manageButtons i{
  font-size: small;
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.manageButtons .fa-info{
  background-color: var(--COLOR_BLUE);
}

/* Images */
.picture>*{
  display: block;
}

.pictures{
  width: 300px;
  margin-top: 10px;
}

.imagePreview{
  width: 100%;
}


/* Statistics */
.statistics{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.statisticBarChartContainer{
  min-width: 400px;
  flex: 1;
}

/* Barchart */
/* Chart */
.barChart{
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid var(--COLOR_TEXT);
  position: relative;
  padding-bottom: 20px;
}

.dataPoints{
  position: relative;
}

.dataPoints::before{
  content: '';
  position: absolute;
  left: 62px;
  padding-bottom: 3px;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: var(--COLOR_TEXT);
}

.barChart .dataPoint{
  display: flex;
  border-bottom: 0.5px solid var(--COLOR_TEXT);
}

.barChart .dataPointLabel {
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2px 0;
}

.barChart .dataPointValue{
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--COLOR_TEXT);
  color: var(--COLOR_BACK);
  margin: 2px;
}

.barChart .minPoint{
  position: absolute;
  left: 68px;
  bottom: 0;
}

.barChart .maxPoint{
  position: absolute;
  right: 20px;
  bottom: 0;
}

/* Years of chart */
.changeYears{
  display: inline-flex;
  background-color: var(--COLOR_TEXT);
  color: var(--COLOR_BACK);
  border-radius: 50rem;
  height: 30px;
  margin-bottom: 10px;
}
.changeYearsButton{
  padding: 5px 20px;
  cursor: pointer;
}

.changeYearsLabel{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* One statistic */
.oneStatistic{
  border: 1px solid var(--COLOR_TEXT);
  margin-top: 40px;
  padding: 10px;
  text-align: center;
}